<section align="center">
  <h2>TECHNOLOGIES</h2>
  <br>
  <br>
  <h3>DAY-TO-DAY COMFORT</h3>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "ruby on rails.png"%>
      <!-- <img src="assets/ruby on rails.png"> -->
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "ruby.jpeg"%>
      <!-- <img src="assets/ruby.jpeg"> -->
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "html.jpeg"%>
      <!-- <img src="assets/html.jpeg"> -->
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "css.jpeg"%>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "postgresql.jpeg"%>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <%= image_tag "photoshop.jpeg"%>
    </div>
  </div>
  <br>
  <br>
  <hr>

  <h2>EDUCATION</h2>
  <br>
  <div align="left">
      <div style="margin-left: 200px;">
        <h3>FULL – STACK WEB DEVELOPMENT</h3>
        DevPoint Labs<br>
        Salt Lake City, UT, Summer 2015<br>
        Subject Studied include:
        <ul>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>CoffeeScript</li>
          <li>HAML</li>
          <li>Ajax</li>
          <li>Git</li>
        </ul>
        <br>
        <h3>BA (BUSINESS STUDIES)</h3>
        Tribhuvan University<br>
        Kathmandu, Nepal, Jan. 2011 – Dec. 2014<br>
        Subject Studies include:
        <ul>
          <li>Corporate Finance</li>
          <li>Accounting</li>
          <li>Business Law</li>
          <li>Corporate Management</li>
          <li>Employer/Employee Relations</li>
          <li>Human Resources Management</li>
        </ul>
      </div>
    
  </div>
  <br>
  <br>
  <hr>

  <h2>WORK EXPERIENCE</h2>
  <br>
  <div align="left">
    <div style="margin-left: 200px;">
      <h3>Aptech Computer Education</h3>
      Kathmandu, Nepal, Feb.2015 – Oct. 2015<br>
      <ul>
        <li>As counselor I gave advice to students about computer and other available courses.</li>
        <li>Provide information about Institution and courses to new students.</li>
        <li>Maintain accounts of students.</li>
      </ul>
    </div>
  </div>
</section>